<%- include("partials/header") %>

<h1><%= campground.name %></h1>
<img src="<%= campground.imageUrl %>" alt="" style="width: 250px; height: 250px;">
<p><%= campground.description %></p>
<%- include("partials/footer") %>

